* {
  margin: 0;
}

body {
  background: #4ca1af;   background: -webkit-linear-gradient(to bottom, #c4e0e5, #c4e0e5);   background: linear-gradient(to bottom, #c4e0e5, #c4e0e5);
}


.app_header{
  margin: auto;
  width: 50%;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 10px;
  margin-bottom: 20px;
}

.app_stats {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-left: 300px;
  margin-right: 300px;
}

.app_addCase {
  margin-top: 50px;
  justify-content: center;
  display: flex;
}
.app_dropdown {
  position: relative;
  left: 640px;
  margin-top: 7px;
}

.app_addCase {
  margin-top: 50px;
  justify-content: center;
  display: flex;
}
.app_addCase > div {
  margin: 6px;
}