.infoPanel {
    flex: 1;
    width: 250px;
    height: 120px;
}

.infoPanel:not(:last-child){
    margin-right: 15px;
}
.infoPanel:hover
{
    transition: 350ms transform ease-in;
    transition: 200ms transform ease-out;
    transform: scale(1.08);
}